
<div class="page-header page-header-default">
  <div class="breadcrumb-line">
    <ul class="breadcrumb">
      <li><a href="#!/"><i class="icon-home2 position-left"></i> Home</a></li>

      <li class="active"> Cadastro de Marcas</li>

    </ul>
  </div>
</div>

<!-- 2 columns form -->
<form class="form-horizontal" action="">
  <div ng-show="mensagem" class="row">
    <div class="col-md-6">
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
          <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
          <span class="text-semibold">{{mensagem}}</span>
          </div>
    </div>
  </div>
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title">Cadastro de Marcas</h5>

    </div>
<!-- /page header -->

<!-- Content area -->
<div class="content">


  <form id="form-cadastro">
    <p class="caption">Cadastro de Marcas</p>

    <div class="divider"></div>
  <!--Form Advance-->
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <!--<h4 class="header2">Form Advance</h4>-->
          <div class="row">
            <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="nome" name="nome" type="text">
                    <label for="nome">Marca do Veiculo</label>
                  </div>

                  <div class="input-field col s6">
                    <input id="cpf" name="cpf" type="text">
                    <label for="cpf">Descrição da Marca do Veiculo</label>
                  </div>

            <div class="row">

              <div class="row">
                <div class="input-field col s11">
                  <button class="btn cyan waves-effect waves-light right" type="submit" id="enviar"name="action">Salvar
                    <i class="mdi-content-send right"></i>
                  </button>
                </div>
              </div>
            </div>
                </div>
          </form>
        </div>
      </div>
    </div>
    </div>


	<!--chart dashboard end-->

	<!-- //////////////////////////////////////////////////////////////////////////// -->


</form>
</div>
