<!-- Main navbar -->
<div class="navbar navbar-inverse bg-indigo">
    <div class="navbar-header">
        <a class="navbar-brand" href="#!/"></a>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">

        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a>
            </li>
        </ul>
        <div class="navbar-right">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false">
                        <i class="icon-eye"></i>
                        <span class="visible-xs-inline-block position-right">Cores</span>
                    </a>

                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-heading">
                            Cores
                            <ul class="icons-list">
                                <li><a><i class="icon-eye"></i></a></li>
                            </ul>
                        </div>
                        <form ng-submit="cor()" novalidate>
                            <ul class="media-list dropdown-content-body width-350">
                                <li class="media">
                                    <label for="corFundoMenu" class="control-label menu-superior-alto col-xs-12">Cor
                                        Fundo Menu Superior:</label>
                                    <input id="corFundoMenu" ng-model="core.corFundoSuperior" class="form-control"
                                           type="color" name="color">
                                </li>

                                <li class="media">
                                    <label for="corLetraMenu" class="control-label menu-superior-alto col-xs-12">Cor
                                        Letra Menu Superior:</label>
                                    <input id="corLetraMenu" ng-model="core.corLetraSuperior" class="form-control"
                                           type="color" name="color">
                                </li>

                                <li class="media">
                                    <label for="corFundoConteudo" class="control-label menu-superior-alto col-xs-12">Cor
                                        Fundo Geral:</label>
                                    <input id="corFundoConteudo" ng-model="core.corFundoGeral" class="form-control"
                                           type="color" name="color">
                                </li>

                                <li class="media">
                                    <label for="corLetraConteudo" class="control-label menu-superior-alto col-xs-12">Cor
                                        Letra Geral:</label>
                                    <input id="corLetraConteudo" ng-model="core.corLetraGeral" class="form-control"
                                           type="color" name="color">
                                </li>

                            </ul>
                            <button ng-disabled="botao" class="btn btn-primary"> Salvar Cor</i></button>

                        </form>
                    </div>
                </li>
                <li class="dropdown">
                    <a ng-click="aumentar()" class="dropdown-toggle legitRipple" data-toggle="dropdown">
                        <span><strong>T+</strong></span>
                    </a>
                </li>
                <li class="dropdown">
                    <a ng-click="restaurar()" class="dropdown-toggle legitRipple" data-toggle="dropdown">
                        <span><strong>T</strong></span>
                    </a>

                </li>
                <li class="dropdown">
                    <a ng-click="diminuir()" class="dropdown-toggle legitRipple" data-toggle="dropdown">
                        <span><strong>T-</strong></span>
                    </a>

                </li>
                <li><a ng-click="logout()"><i class="icon-switch2"></i> <span>Logout</span></a></li>

            </ul>
        </div>
    </div>
</div>
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main sidebar-default">
            <div class="sidebar-content">

                <!-- User menu -->
                <div class="sidebar-user-material">
                    <div class="category-content">
                        <div class="sidebar-user-material-content">
                            <a href="#" style="border: 2px solid #f5eded"><img src="{{imagem}}" class="img-responsive" alt=""></a>
                            <h6>{{nomeUsuario | uppercase}}</h6>
                        </div>

                       <!-- <div class="sidebar-user-material-menu">
                            <a href="#user-nav" data-toggle="collapse"><span>My account</span> <i class="caret"></i></a>
                        </div> --> 
                        <!--/ -->
                    </div>

                    <div class="navigation-wrapper collapse" id="user-nav">
                        <ul class="navigation">
                            <li><a href="#"><i class="icon-user-plus"></i> <span>Meu Perfil</span></a></li>
                            <li><a href="#"><i class="icon-coins"></i> <span>My balance</span></a></li>
                            <li><a href="#"><i class="icon-comment-discussion"></i> <span><span
                                    class="badge bg-teal-400 pull-right">58</span> Messages</span></a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-cog5"></i> <span>Account settings</span></a></li>
                            <li><a ng-click="logout()"><i class="icon-switch2"></i> <span>Logout</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /user menu -->


                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">

                            <!-- Administrativo -->
                            <li class="navigation-header"><span>Administrativo</span> <i class="icon-menu"
                                                                                         title="Main pages"></i></li>
                            <li><a href="#!/"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                          
                            <!-- /main -->
                               <!-- Manutenção dos Veiculos -->
                            <li class="navigation-header"><span>Segurança</span> <i class="icon-menu"
                                                                                                  title="Layout options"></i>
                            </li>

                             <li>
                                <a href="#"><i class="icon-users"></i> <span>Acesso ao Sistema</span></a>
                                <ul>

                                    <li><a><span>Usuarios</span></a>
                                        <ul>
                                            <li ng-show="permicao.usuarioCriar"><a href="#!/usuarios/novo"> <i
                                                    class="icon-add"></i> Novo Usuario</a></li>
                                            <li ng-show="permicao.usuarioVisualizar"><a href="#!/usuarios"><i
                                                    class="icon-search4"></i> Listar Usuario</a></li>
                                        </ul>
                                    </li>
                                    <li><a><span>Grupos</span></a>
                                        <ul>
                                            <li ng-show="permicao.grupoCriar"><a href="#!/grupos/novo"> <i
                                                    class="icon-add"></i> Novo Grupo</a></li>
                                            <li ng-show="permicao.grupoVisualizar"><a href="#!/grupos"><i
                                                    class="icon-search4"></i> Listar Grupo</a></li>
                                        </ul>
                                    </li>
                                    <li><a><span>Permissões</span></a>
                                        <ul>
                                            <li ng-show="permicao.permissaoCriar"><a href="#!/permissoes/novo"> <i
                                                    class="icon-add"></i> Relacionar Permissão</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- /Manutenção dos Veiculos -->

                            <!-- Cadastrados -->
                            <li class="navigation-header"><span>Cadastrados</span> <i class="icon-menu"
                                                                                      title="Appearance"></i></li>
                            <li>
                                <a href="#"><i class="icon-grid"></i> <span>Cadastrados</span></a>
                                <ul>
                                    <li><a href="#!/funcionarios/novo"><span>Funcionarios</span></a>
                                        <ul>
                                            <li ng-show="permicao.funcionarioCriar"><a href="#!/funcionarios/novo">
                                                <i class="icon-add"></i> Novo Funcionario</a></li>
                                            <li ng-show="permicao.funcionarioVisualizar"><a
                                                    href="#!/funcionarios"><i class="icon-search4"></i> Listar
                                                Funcionario</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#!/funcionarios/novo"><span>Fornecedor</span></a>
                                        <ul>
                                            <li ng-show="permicao.fornecedorCriar"><a href="#!/fornecedores/novo">
                                                <i class="icon-add"></i> Novo Fornecedor</a></li>
                                            <li ng-show="permicao.fornecedorVisualizar"><a href="#!/fornecedores"><i
                                                    class="icon-search4"></i> Listar Fornecedor</a></li>
                                        </ul>
                                    </li>

                                    <li><a
                                            href="#!/funcionarios/novo"><span>Clientes</span></a>
                                        <ul>
                                            <li ng-show="permicao.clienteCriar"><a href="#!/clientes/novo"> <i
                                                    class="icon-add"></i> Novo Cliente</a></li>
                                            <li ng-show="permicao.clienteVisualizar"><a href="#!/clientes"><i
                                                    class="icon-search4"></i> Listar clientes</a></li>
                                        </ul>
                                    </li>

                                    <li><a
                                            href="#!/funcionarios/novo"><span>Veiculos</span></a>
                                        <ul>                                            
                                            <li ng-show="permicao.veiculoVisualizar"><a href="#!/veiculos"><i
                                                    class="icon-search4"></i> Listar Veiculo</a></li>
                                        </ul>
                                    </li>

                                    <li><a
                                            href="#!/funcionarios/novo"><span>Modelos</span></a>
                                        <ul>
                                            <li ng-show="permicao.veiculoCriar"><a href="#!/modelos/novo"> <i
                                                    class="icon-add"></i> Novo Modelo</a></li>
                                            <li ng-show="permicao.veiculoVisualizar"><a href="#!/modelos"><i
                                                    class="icon-search4"></i> Listar Modelos</a></li>
                                        </ul>
                                    </li>
                                    <li><a
                                            href="#!/tipo-reparos"><span>Tipo de Reparo</span></a>
                                        <ul>
                                            <li ng-show="permicao.tipoReparoCriar"><a href="#!/tipo-reparos/novo">
                                                <i class="icon-add"></i> Novo Tipo Reparo</a></li>
                                            <li ng-show="permicao.tipoReparoVisualizar"><a href="#!/tipo-reparos"><i
                                                    class="icon-search4"></i> Listar Tipo Reparos</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <!-- /Cadastrados -->

                            <!-- Manutenção dos Veiculos -->
                            <li class="navigation-header"><span>Manutenção dos Veiculos</span> <i class="icon-menu"
                                                                                                  title="Layout options"></i>
                            </li>

                            <li>
                                <a href="#"><i class="icon-hammer-wrench"></i> <span>Reparos</span></a>
                                <ul>
                                    <li ng-show="permicao.reparoCriar"><a href="#!/reparos/novo"> <i
                                            class="icon-add"></i> Novo Reparo</a></li>
                                    <li ng-show="permicao.reparoVisualizar"><a href="#!/reparos"><i
                                            class="icon-search4"></i> Listar Reparos</a></li>
                                </ul>
                            </li>
                            <!-- /Manutenção dos Veiculos -->

                            <!-- Vendas e Compras -->
                            <li class="navigation-header"><span>Vendas e Compras</span> <i class="icon-menu"
                                                                                           title="Layout options"></i>
                            </li>

                            <li>
                                <a href="#"><i class="icon-cash"></i> <span>Compra</span></a>
                                <ul>
                                    <li ng-show="permicao.compraCriar"><a href="#!/compras/novo"> <i
                                            class="icon-add"></i> Nova Compra</a></li>
                                    <li ng-show="permicao.compraVisualizar"><a href="#!/compras"><i
                                            class="icon-search4"></i> Listar Compras</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#"><i class="icon-cash"></i> <span>Venda</span></a>
                                <ul>
                                    <li ng-show="permicao.vendaCriar"><a href="#!/vendas/novo"> <i
                                            class="icon-add"></i> Nova Venda</a></li>
                                    <li ng-show="permicao.vendaVisualizar"><a href="#!/vendas"><i
                                            class="icon-search4"></i> Listar Venda</a></li>
                                </ul>
                            </li>
                            <!-- /Vendas e Compras -->
                            <!-- Entrada e Saidas -->
                            <li class="navigation-header"><span>Financeiros</span> <i class="icon-menu"
                                                                                      title="Layout options"></i></li>

                            <li>
                                <a href="#"><i class="icon-exit "></i> <span>Contas a Pagar</span></a>
                                <ul>
                                    <li ng-show="permicao.entradaVisualizar"><a href="#!/entradas"><i
                                            class="icon-search4"></i> Listar Contas</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#"><i class="icon-enter"></i> <span>Contas a Receber</span></a>
                                <ul>
                                    <li ng-show="permicao.saidaVisualizar"><a href="#!/saidas"><i
                                            class="icon-search4"></i> Listar Contas</a></li>
                                </ul>
                            </li>
                            <!-- Entrada e Saidas -->

                            <!-- Relatorios -->
                            <li class="navigation-header"><span>Relatorios</span> <i class="icon-menu"
                                                                                     title="Data visualization"></i>
                            </li>

                            <li>
                                <a href="#!/relatorios"><i class="icon-file-pdf"></i> <span>Relatorios</span></a>
                              
                            </li>
                            <!-- /Relatorios -->
                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->


        <div class="content-wrapper">
            <!-- Page header -->
            <div class="page-header page-header-default">
                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><a href="#!/"><i class="icon-home2 position-left"></i> Home</a></li>

                        <!--<li class="active"></li>-->

                    </ul>
                </div>
            </div>
            <!-- /page header -->

            <div id="corpo" data-ui-view></div>

        </div>
    </div>
    <!-- /page content -->

</div>
<!-- /page container -->
<!-- Core JS files -->


<script type="text/javascript" src="app/assets/js/core/app.js"></script>

<!-- /theme JS files -->
