<!-- Main navbar -->
<div class="navbar navbar-inverse bg-indigo">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><img src="app/assets/images/logo_light.png" alt=""></a>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-puzzle3"></i>
                    <span class="visible-xs-inline-block position-right">Git updates</span>
                    <span class="status-mark border-orange-400"></span>
                </a>

                <div class="dropdown-menu dropdown-content">
                    <div class="dropdown-content-heading">
                        Git updates
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-sync"></i></a></li>
                        </ul>
                    </div>

                    <ul class="media-list dropdown-content-body width-350">
                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                            </div>

                            <div class="media-body">
                                Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                <div class="media-annotation">4 minutes ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
                            </div>

                            <div class="media-body">
                                Add full font overrides for popovers and tooltips
                                <div class="media-annotation">36 minutes ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
                            </div>

                            <div class="media-body">
                                <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
                                <div class="media-annotation">2 hours ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
                            </div>

                            <div class="media-body">
                                <a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
                                <div class="media-annotation">Dec 18, 18:36</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                            </div>

                            <div class="media-body">
                                Have Carousel ignore keyboard events
                                <div class="media-annotation">Dec 12, 05:46</div>
                            </div>
                        </li>
                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>
        </ul>

        <div class="navbar-right">
            <p class="navbar-text">Morning, Victoria!</p>
            <p class="navbar-text"><span class="label bg-success-400">Online</span></p>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-bell2"></i>
                        <span class="visible-xs-inline-block position-right">Activity</span>
                        <span class="status-mark border-orange-400"></span>
                    </a>

                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-heading">
                            Activity
                            <ul class="icons-list">
                                <li><a href="#"><i class="icon-menu7"></i></a></li>
                            </ul>
                        </div>

                        <ul class="media-list dropdown-content-body width-350">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></a>
                                </div>

                                <div class="media-body">
                                    <a href="#">Taylor Swift</a> mentioned you in a post "Angular JS. Tips and tricks"
                                    <div class="media-annotation">4 minutes ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn bg-pink-400 btn-rounded btn-icon btn-xs"><i class="icon-paperplane"></i></a>
                                </div>

                                <div class="media-body">
                                    Special offers have been sent to subscribed users by <a href="#">Donna Gordon</a>
                                    <div class="media-annotation">36 minutes ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn bg-blue btn-rounded btn-icon btn-xs"><i class="icon-plus3"></i></a>
                                </div>

                                <div class="media-body">
                                    <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch in <span class="text-semibold">Limitless</span> repository
                                    <div class="media-annotation">2 hours ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn bg-purple-300 btn-rounded btn-icon btn-xs"><i class="icon-truck"></i></a>
                                </div>

                                <div class="media-body">
                                    Shipping cost to the Netherlands has been reduced, database updated
                                    <div class="media-annotation">Feb 8, 11:30</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn bg-warning-400 btn-rounded btn-icon btn-xs"><i class="icon-bubble8"></i></a>
                                </div>

                                <div class="media-body">
                                    New review received on <a href="#">Server side integration</a> services
                                    <div class="media-annotation">Feb 2, 10:20</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn bg-teal-400 btn-rounded btn-icon btn-xs"><i class="icon-spinner11"></i></a>
                                </div>

                                <div class="media-body">
                                    <strong>January, 2016</strong> - 1320 new users, 3284 orders, $49,390 revenue
                                    <div class="media-annotation">Feb 1, 05:46</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-bubble8"></i>
                        <span class="visible-xs-inline-block position-right">Messages</span>
                        <span class="status-mark border-orange-400"></span>
                    </a>

                    <div class="dropdown-menu dropdown-content width-350">
                        <div class="dropdown-content-heading">
                            Messages
                            <ul class="icons-list">
                                <li><a href="#"><i class="icon-compose"></i></a></li>
                            </ul>
                        </div>

                        <ul class="media-list dropdown-content-body">
                            <li class="media">
                                <div class="media-left">
                                    <img src="app/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                    <span class="badge bg-danger-400 media-badge">5</span>
                                </div>

                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">James Alexander</span>
                                        <span class="media-annotation pull-right">04:58</span>
                                    </a>

                                    <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <img src="app/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                    <span class="badge bg-danger-400 media-badge">4</span>
                                </div>

                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Margo Baker</span>
                                        <span class="media-annotation pull-right">12:16</span>
                                    </a>

                                    <span class="text-muted">That was something he was unable to do because...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="app/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Jeremy Victorino</span>
                                        <span class="media-annotation pull-right">22:48</span>
                                    </a>

                                    <span class="text-muted">But that would be extremely strained and suspicious...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="app/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Beatrix Diaz</span>
                                        <span class="media-annotation pull-right">Tue</span>
                                    </a>

                                    <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="app/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Richard Vango</span>
                                        <span class="media-annotation pull-right">Mon</span>
                                    </a>

                                    <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                                </div>
                            </li>
                        </ul>

                        <div class="dropdown-content-footer">
                            <a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main sidebar-default">
            <div class="sidebar-content">

                <!-- User menu -->
                <div class="sidebar-user-material">
                    <div class="category-content">
                        <div class="sidebar-user-material-content">
                            <a href="#"><img src="app/assets/images/placeholder.jpg" class="img-circle img-responsive" alt=""></a>
                            <h6>Victoria Baker</h6>
                            <span class="text-size-small">Santa Ana, CA</span>
                        </div>

                        <div class="sidebar-user-material-menu">
                            <a href="#user-nav" data-toggle="collapse"><span>My account</span> <i class="caret"></i></a>
                        </div>
                    </div>

                    <div class="navigation-wrapper collapse" id="user-nav">
                        <ul class="navigation">
                            <li><a href="#"><i class="icon-user-plus"></i> <span>My profile</span></a></li>
                            <li><a href="#"><i class="icon-coins"></i> <span>My balance</span></a></li>
                            <li><a href="#"><i class="icon-comment-discussion"></i> <span><span class="badge bg-teal-400 pull-right">58</span> Messages</span></a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-cog5"></i> <span>Account settings</span></a></li>
                            <li><a href="#"><i class="icon-switch2"></i> <span>Logout</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /user menu -->


                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">

                            <!-- Administrativo -->
                            <li class="navigation-header"><span>Administrativo</span> <i class="icon-menu" title="Main pages"></i></li>
                            <li class="active"><a href="index.html"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                            <li>
                                <a href="#"><i class="icon-stack2"></i> <span>Usuarios</span></a>
                                <ul>
                                    <li><a href="layout_navbar_fixed.html">Fixed navbar</a></li>
                                    <li><a href="layout_navbar_sidebar_fixed.html">Fixed navbar &amp; sidebar</a></li>
                                    <li><a href="layout_sidebar_fixed_native.html">Fixed sidebar native scroll</a></li>
                                    <li><a href="layout_navbar_hideable.html">Hideable navbar</a></li>
                                    <li><a href="layout_navbar_hideable_sidebar.html">Hideable &amp; fixed sidebar</a></li>
                                    <li><a href="layout_footer_fixed.html">Fixed footer</a></li>
                                    <li class="navigation-divider"></li>
                                    <li><a href="boxed_default.html">Boxed with default sidebar</a></li>
                                    <li><a href="boxed_mini.html">Boxed with mini sidebar</a></li>
                                    <li><a href="boxed_full.html">Boxed full width</a></li>
                                </ul>
                            </li>
                            <!-- /main -->

                            <!-- Cadastrados -->
                            <li class="navigation-header"><span>Cadastrados</span> <i class="icon-menu" title="Appearance"></i></li>
                            <li>
                                <a href="#"><i class="icon-grid"></i> <span>Cadastrados</span></a>
                                <ul>
                                    <li><a href="#!/funcionarios/novo"><span>Funcionarios</span></a>
                                        <ul> 
                                               <li><a href="#!/funcionarios/novo"> <i class="icon-add"></i> Novo Funcionario</a></li>
                                               <li><a href="#!/funcionarios"><i class="icon-search4"></i> Listar Funcionario</a></li>
                                        </ul>  
                                    </li>
                                    <li><a href="#!/funcionarios/novo"><span>Fornecedor</span></a>
                                        <ul> 
                                               <li><a href="#!/fornecedores/novo"> <i class="icon-add"></i> Novo Fornecedor</a></li>
                                               <li><a href="#!/fornecedores"><i class="icon-search4"></i> Listar Fornecedor</a></li>
                                        </ul>  
                                    </li>
                                    <li><a href="#!/marcas">Marca</a></li>
                                    <li><a href="#!/clientes">Cliente</a></li>
                                    <li><a href="#!/modelos">Modelos</a></li>
                                    <li><a href="#!/categorias">Categorias</a></li>
                                    <li><a href="#!/anos">Ano</a></li>
                                    <li><a href="#!/funcionarios">Tabs component</a></li>
                                    <li><a href="components_pills.html">Pills component</a></li>
                                    <li><a href="components_navs.html">Accordion and navs</a></li>
                                    <li><a href="components_buttons.html">Buttons</a></li>
                                    <li><a href="components_notifications_pnotify.html">PNotify notifications</a></li>
                                    <li><a href="components_notifications_others.html">Other notifications</a></li>
                                    <li><a href="components_popups.html">Tooltips and popovers</a></li>
                                    <li><a href="components_alerts.html">Alerts</a></li>
                                    <li><a href="components_pagination.html">Pagination</a></li>
                                    <li><a href="components_labels.html">Labels and badges</a></li>
                                    <li><a href="components_loaders.html">Loaders and bars</a></li>
                                    <li><a href="components_thumbnails.html">Thumbnails</a></li>
                                    <li><a href="components_page_header.html">Page header</a></li>
                                    <li><a href="components_breadcrumbs.html">Breadcrumbs</a></li>
                                    <li><a href="components_media.html">Media objects</a></li>
                                    <li><a href="components_affix.html">Affix and Scrollspy</a></li>
                                </ul>
                            </li>
                            <!-- /Cadastrados -->

                            <!-- Vendas e Compras -->
                            <li class="navigation-header"><span>Vendas e Compras</span> <i class="icon-menu" title="Layout options"></i></li>

                            <li>
                                <a href="#"><i class="icon-sort"></i> <span>Vertical navigation</span></a>
                                <ul>
                                    <li><a href="navigation_vertical_collapsible.html">Collapsible menu</a></li>
                                    <li><a href="navigation_vertical_accordion.html">Accordion menu</a></li>
                                    <li><a href="navigation_vertical_sizing.html">Navigation sizing</a></li>
                                    <li><a href="navigation_vertical_bordered.html">Bordered navigation</a></li>
                                    <li><a href="navigation_vertical_right_icons.html">Right icons</a></li>
                                    <li><a href="navigation_vertical_labels_badges.html">Labels and badges</a></li>
                                    <li><a href="navigation_vertical_disabled.html">Disabled navigation links</a></li>
                                </ul>
                            </li>
                            <!-- /Vendas e Compras -->

                            <!-- Relatorios -->
                            <li class="navigation-header"><span>Relatorios</span> <i class="icon-menu" title="Data visualization"></i></li>

                            <li>
                                <a href="#"><i class="icon-stats-dots"></i> <span>Dimple library</span></a>
                                <ul>
                                    <li>
                                        <a href="#">Line charts</a>
                                        <ul>
                                            <li><a href="dimple_lines_horizontal.html">Horizontal orientation</a></li>
                                            <li><a href="dimple_lines_vertical.html">Vertical orientation</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Bar charts</a>
                                        <ul>
                                            <li><a href="dimple_bars_horizontal.html">Horizontal orientation</a></li>
                                            <li><a href="dimple_bars_vertical.html">Vertical orientation</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Area charts</a>
                                        <ul>
                                            <li><a href="dimple_area_horizontal.html">Horizontal orientation</a></li>
                                            <li><a href="dimple_area_vertical.html">Vertical orientation</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Step charts</a>
                                        <ul>
                                            <li><a href="dimple_step_horizontal.html">Horizontal orientation</a></li>
                                            <li><a href="dimple_step_vertical.html">Vertical orientation</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="dimple_pies.html">Pie charts</a></li>
                                    <li><a href="dimple_rings.html">Ring charts</a></li>
                                    <li><a href="dimple_scatter.html">Scatter charts</a></li>
                                    <li><a href="dimple_bubble.html">Bubble charts</a></li>
                                </ul>
                            </li>
                            <!-- /Relatorios -->
                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->



     <div class="content-wrapper">
            <!-- Page header -->
				<div class="page-header page-header-default">
					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="#!/"><i class="icon-home2 position-left"></i> Home</a></li>

							<!--<li class="active"></li>-->

						</ul>
					</div>
				</div>
				<!-- /page header -->

                <div data-ui-view></div>

     </div>
</div>
<!-- /page content -->

</div>
<!-- /page container -->
<!-- Core JS files -->


<script type="text/javascript" src="app/assets/js/core/app.js"></script>

<!-- /theme JS files -->
