

<!-- Content area -->
<div class="content">

    <!-- 2 columns form -->
    <form class="form-horizontal" name="formulario" ng-submit="salvar()" novalidate>
        <div ng-show="mensagem.length" class="row">
            <div class="col-md-6">
                <div class="alert alert-primary alert-bordered">
                    <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold">{{mensagem}}</span>
                </div>
            </div>
        </div>
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Cadastro de Usuario</h5>

            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend class="text-semibold"><i class="icon-reading position-left"></i> Dados Pessoais </legend>

                            <div class="form-group col-md-6">
                                <label for="nome" class="col-lg-3 control-label">Login:</label>
                                <div class="col-lg-9">
                                    <input type="text" name="login" class="form-control" placeholder="Login" ng-model="form.login" ng-minlength="6" ng-maxlength="30" required/>
                                    <div ng-messages="formulario.login.$error">
                                        <div ng-messages-include="app/views/messages.html"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="senha" class="col-lg-3 control-label">Senha:</label>
                                <div class="col-lg-9">
                                    <input type="password" placeholder="Senha"  name="senha" class="form-control" ng-model="form.senha" ng-minlength="6" ng-maxlength="30" required ng-blur="onBlur(formulario)">
                                    <div ng-messages="formulario.senha.$error">
                                        <div ng-messages-include="app/views/messages.html"></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-12">
                        <fieldset>
                            <div class="form-group col-md-6">
                                <label for="senha2" class="col-lg-3 control-label">Confirmar Senha:</label>
                                <div class="col-lg-9">
                                    <input type="password" name="senha2" placeholder="Re-senha" class="form-control" ng-model="form.senha2" ng-keyup="verificarSenha(formulario)"  required>
                                    <div ng-messages="formulario.senha2.$error">
                                        <div ng-messages-include="app/views/messages.html"></div>
                                        <div class="validation-error-label" ng-message="validationError">Senha não confere</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="col-lg-3 control-label">Funcionario:</label>
                                <div class="col-lg-9">
                                    <div ng-click="loadFuncionarios()">
                                    <select id="renderedCombo2" name="funcionario" data-placeholder="Selecione o Funcionario"
                                            class="select" ng-required="true"  data-ng-model="form.funcionario_id" ng-options="item.pk_funcionario as item.nomes for item in funcionarioResultados" >
                                        <option value=""></option>
                                    </select>
                                    </div>
                                    <div ng-messages="formulario.funcionario.$error">
                                        <div ng-messages-include="app/views/messages.html"></div>
                                    </div>
                                    </div>

                                </div>
                        </fieldset>
                    </div>
                    <div class="col-md-12">
                        <fieldset>
                            <div class="form-group col-md-6">
                                <label class="col-lg-3 control-label">Grupo:</label>
                                <div class="col-lg-9">
                                    <div ng-click="loadGrupos()">
                                    <select id="renderedCombo3" name="grupo" data-placeholder="Selecione o Grupo"
                                            class="select" ng-required="true" data-ng-model="form.grupo_id"  ng-options="item.pk_grupo as item.nome for item in grupoResultados">
                                        <option value=""></option>
                                    </select>
                                    </div>
                                    <div ng-messages="formulario.grupo.$error">
                                        <div ng-messages-include="app/views/messages.html"></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="text-right">
                    <a href="#!/usuarios">
                        <button  class="btn btn-primary"> <i class="icon-arrow-left13 position-right"></i> Voltar </button>
                    </a>
                    <button ng-disabled="botao" class="btn btn-primary"> Salvar <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    </form>
    <!-- /2 columns form -->


    <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
    </div>
    <!-- /footer -->

</div>
<!-- /content area -->





<!-- Theme JS files -->
<script type="text/javascript" src="app/assets/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="app/assets/js/pages/form_layouts.js"></script>

<!-- Função para subir ate o TOPO  -->
<script>
	$(document).ready(function () {
		$('html, body').animate({ scrollTop: 0 }, 'slow');
		return false;
	});

</script>
<!-- / FIM Função para subir ate o TOPO  -->
<!-- /theme JS files -->

    