<!-- Content area -->
<link href="app/assets/css/extras/animate.min.css" rel="stylesheet" type="text/css">
<script src="app/resources/js/jquery.mobile.custom.min.js"></script>
<script>
    $(function () {
        $(".tab-content").on('swiperight', function () {
            var $tab = $('#tablist .active').prev();
            if ($('#tablist .active').text() === 'CANCELADO')
                angular.element(document.getElementById('pago')).scope().pago();
            else if ($('#tablist .active').text() === 'PAGO')
                angular.element(document.getElementById('pendente')).scope().pendente();
            if ($tab.length > 0)
                $tab.find('a').tab('show');
        });
        $(".tab-content").on('swipeleft', function () {
            var $tab = $('#tablist .active').next();
            if ($('#tablist .active').text() === 'PENDENTE')
                angular.element(document.getElementById('pago')).scope().pago();
            else if ($('#tablist .active').text() === 'PAGO')
                angular.element(document.getElementById('cancelado')).scope().cancelado();
            if ($tab.length > 0)
                $tab.find('a').tab('show');
        });
    });
</script>
<div class="content">

    <!-- Basic datatable -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Lista de Entradas</h5>

        </div>


        <p ng-show="mensagem">{{mensagem}}</p>
        <div ng-show="lembretes.length">
            <div role="tabpanel" class="tabbable">
                <ul role="tablist" id="tablist" class="nav nav-tabs nav-tabs-bottom bottom-divided nav-justified">
                    <li role="presentation" class="active"><a id="pendente" href="#tab1" ng-click="pendente()"
                                                              target="_self" data-toggle="tab" class="legitRipple">PENDENTE</a>
                    </li>
                    <li role="presentation"><a ng-href="#tab2" id="pago" ng-click="pago()" target="_self"
                                               data-toggle="tab" class="legitRipple">PAGO</a></li>
                    <li role="presentation"><a ng-href="#tab3" id="cancelado" ng-click="cancelado()" target="_self"
                                               data-toggle="tab" class="legitRipple">CANCELADO</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane animated flipInX active" id="tab1">
                        <table class="table datatable-basic">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Compra</th>
                                <th>Usuario</th>
                                <th>Usuario Update</th>
                                <th>Vencimento</th>
                                <th>Valor</th>
                                <th>Status</th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="lembrete in lembretes">
                                <td>{{lembrete.pk_entrada}}</td>
                                <td>{{lembrete.fk_compra}}</td>
                                <td>{{lembrete.usuarioCriacao}}</td>
                                <td>{{lembrete.usuarioUpdate}}</td>
                                <td>{{lembrete.data_vencimento}}</td>
                                <td>{{lembrete.valor}}</td>
                                <td><span class="label label-info">{{lembrete.statusFinanceiro}}</span></td>

                                <td>
                                    <!--mostra o icone de excluir e chama o modal -->
                                    <a style="color: green" href="" ng-click="exibirModal(lembrete,$index)">
                                        <i class="icon-checkmark"></i>
                                    </a>
                                    <!--FIM -->
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane animated flipInX" id="tab2">
                        <table role="tabpanel" class="table datatable-basic">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Compra</th>
                                <th>Usuario</th>
                                <th>Usuario Update</th>
                                <th>Vencimento</th>
                                <th>Valor</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="lembrete in lembretes">
                                <td>{{lembrete.pk_entrada}}</td>
                                <td>{{lembrete.fk_compra}}</td>
                                <td>{{lembrete.usuarioCriacao}}</td>
                                <td>{{lembrete.usuarioUpdate}}</td>
                                <td>{{lembrete.data_vencimento}}</td>
                                <td>{{lembrete.valor}}</td>
                                <td><span class="label label-success">{{lembrete.statusFinanceiro}}</span></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane animated flipInX" id="tab3">
                        <table role="tabpanel" class="table datatable-basic">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Compra</th>
                                <th>Usuario</th>
                                <th>Usuario Update</th>
                                <th>Vencimento</th>
                                <th>Valor</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="lembrete in lembretes">
                                <td>{{lembrete.pk_entrada}}</td>
                                <td>{{lembrete.fk_compra}}</td>
                                <td>{{lembrete.usuarioCriacao}}</td>
                                <td>{{lembrete.usuarioUpdate}}</td>
                                <td>{{lembrete.data_vencimento}}</td>
                                <td>{{lembrete.valor}}</td>
                                <td><span class="label label-danger">{{lembrete.statusFinanceiro}}</span></td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /scrollable datatable -->
    <div data-ng-include="'app/views/modal/modal.html'"></div>

    <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov"
                                                                 target="_blank">Eugene Kopyov</a>
    </div>
    <!-- /footer -->

</div>
<!-- /content area -->


<!-- Função para subir ate o TOPO  -->
<script>
    $(document).ready(function () {
        $('html, body').animate({scrollTop: 0}, 'slow');
        return false;
    });

</script>
<!-- / FIM Função para subir ate o TOPO  -->