<!-- Content area -->
<link href="app/assets/css/extras/animate.min.css" rel="stylesheet" type="text/css">
<script src="app/resources/js/jquery.mobile.custom.min.js"></script>
<script>
    $(function () {
        $(".tab-content").on('swiperight', function () {
            var $tab = $('#tablist .active').prev();
            if ($tab.length > 0)
                $tab.find('a').tab('show');
        });
        $(".tab-content").on('swipeleft', function () {
            var $tab = $('#tablist .active').next();
            if ($tab.length > 0)
                $tab.find('a').tab('show');
        });
    });

</script>
<div class="content">

    <!-- Basic datatable -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Lista de Entradas</h5>

        </div>

        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                <label>
                    <span>Pesquisa: </span>
                    <input type="search" ng-model="filtros" placeholder="Pesquisa... "
                           aria-controls="DataTables_Table_0">
                </label>
            </div>           

        </div>
        <br/>



        <div>
            <div role="tabpanel" class="tabbable">
                <ul role="tablist" id="tablist" class="nav nav-tabs nav-tabs-bottom bottom-divided nav-justified">
                    <li role="presentation" class="active"><a id="pendente" href="#tab1" target="_self" data-toggle="tab" class="legitRipple">PENDENTE</a></li>
                    <li role="presentation"><a ng-href="#tab2" id="pago" target="_self" data-toggle="tab" class="legitRipple">PAGO</a></li>
                    <li role="presentation"><a ng-href="#tab3" id="cancelado" target="_self" data-toggle="tab" class="legitRipple">CANCELADO</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane animated flipInX active" id="tab1">
                        <table ng-init="pendente()" class="table datatable-basic">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Compra</th>
                                    <th>Usuario</th>
                                    <th>Usuario Update</th>
                                    <th>Vencimento</th>
                                    <th>Valor</th>
                                    <th>Status</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="lembrete in pendenteResultados  | filter:filtros">
                                    <td>{{lembrete.pk_entrada}}</td>
                                    <td>{{lembrete.fk_compra}}</td>
                                    <td>{{lembrete.usuarioCriacao}}</td>
                                    <td>{{lembrete.usuarioUpdate}}</td>
                                    <td>{{lembrete.data_vencimento}}</td>
                                    <td>R$ {{lembrete.valor | number:2}}</td>
                                    <td><span class="label label-info">{{lembrete.statusFinanceiro}}</span></td>

                                    <td>
                                        <!--mostra o icone de excluir e chama o modal -->
                                        <a style="color: green" href="" ng-click="exibirModal(lembrete,$index)">
                                        <i class="icon-checkmark"></i>
                                    </a>
                                        <!--FIM -->
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane animated flipInX" id="tab2">
                        <table ng-init="pago()" role="tabpanel" class="table datatable-basic">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Compra</th>
                                    <th>Usuario</th>
                                    <th>Usuario Update</th>
                                    <th>Vencimento</th>
                                    <th>Valor</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="lembrete in pagoResultados  | filter:filtros">
                                    <td>{{lembrete.pk_entrada}}</td>
                                    <td>{{lembrete.fk_compra}}</td>
                                    <td>{{lembrete.usuarioCriacao}}</td>
                                    <td>{{lembrete.usuarioUpdate}}</td>
                                    <td>{{lembrete.data_vencimento}}</td>
                                    <td>R$ {{lembrete.valor | number:2}}</td>
                                    <td><span class="label label-success">{{lembrete.statusFinanceiro}}</span></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane animated flipInX" id="tab3">
                        <table ng-init="cancelado()" role="tabpanel" class="table datatable-basic">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Compra</th>
                                    <th>Usuario</th>
                                    <th>Usuario Update</th>
                                    <th>Vencimento</th>
                                    <th>Valor</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="lembrete in canceladoResultados  | filter:filtros">
                                    <td>{{lembrete.pk_entrada}}</td>
                                    <td>{{lembrete.fk_compra}}</td>
                                    <td>{{lembrete.usuarioCriacao}}</td>
                                    <td>{{lembrete.usuarioUpdate}}</td>
                                    <td>{{lembrete.data_vencimento}}</td>
                                    <td>R$ {{lembrete.valor | number:2}}</td>
                                    <td><span class="label label-danger">{{lembrete.statusFinanceiro}}</span></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /scrollable datatable -->
    <div data-ng-include="'app/views/modal/modal.html'"></div>
</div>
<!-- /content area -->


<!-- Função para subir ate o TOPO  -->
<script>
    $('html, body').animate({ scrollTop: 0 }, 'slow');

</script>
<!-- / FIM Função para subir ate o TOPO  -->