<!-- Content area -->
<div class="content">

	<!-- Basic datatable -->
	<div class="panel panel-flat">
		<div class="panel-heading">
			<h5 class="panel-title">LISTA DE FUNCIONARIOS</h5>

		</div>

		<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
			<div id="DataTables_Table_0_filter" class="dataTables_filter">
				<label>
					<span>Pesquisa: </span>
					<input type="search" ng-model="filtros" placeholder="Pesquisa..."  aria-controls="DataTables_Table_0" >
				</label>
			</div>
			<div class="dataTables_length" id="DataTables_Table_0_length">
				<label>						
						<span > 
							<a  href="#!/funcionarios/novo" class="btn btn-primary"> Novo Funcionario <i class="icon-arrow-right14 position-right"></i></a>
						</span>
				</label>

			</div>

		</div>
		<br/>


		<p ng-show="mensagem">{{mensagem}}</p>
		<div ng-show="lembretes.length">
			<table summary="Lista de Funcionarios" class="table datatable-basic">
				<caption> </caption>
				<thead>
					<tr>
						<th>ID</th>
						<th class="text-center" id="nome">Nome</th>
						<th class="text-center" id="cargo">Cargo</th>
						<th class="text-center" id="cepf">CPF</th>
						<th class="text-center" id="email">Email</th>
						<th id="telefone">Telefone</th>
						<th id="celular">Celular</th>
						<th id="opcao" class="text-center" ng-if="permicaoJSON.funcionario"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="lembrete in lembretes | filter:filtros">
						<td>{{lembrete.pk_funcionario}}</td>
						<td headers="nome" class="text-center">{{lembrete.nomes | uppercase}}</td>
						<td headers="cargo" class="text-center">{{lembrete.nome | uppercase}}</td>
						<td headers="cpf" class="text-center">{{lembrete.cpf}}</td>
						<td headers="email" class="text-center">{{lembrete.email}}</td>
						<td headers="telefone">{{lembrete.contato}}</td>
						<td headers="celular">{{lembrete.contato1}}</td>
						<td headers="opcao" ng-if="permicaoJSON.funcionario">
							<a ng-show="permicaoJSON.funcionarioEditar" href="#!/funcionarios/{{lembrete.pk_funcionario}}" style="color: black">
								<i class="icon-pencil7"></i>
							</a>
							<!--mostra o icone de excluir e chama o modal -->
							<a ng-show="permicaoJSON.funcionarioDeletar"  style="color: red" ng-click="exibirModal(lembrete.pk_funcionario, $index, lembrete.nomes)">
								
								<i class="icon-trash"></i>
							</a>
							<!--FIM -->
						</td>

					</tr>

				</tbody>
			</table>
		</div>
	</div>
	<!-- /scrollable datatable -->
	<div data-ng-include="'app/views/modal/modal-excluir.html'"></div>


</div>
<!-- /content area -->

<!-- Função para subir ate o TOPO  -->
<script>
    
        $('html, body').animate({ scrollTop: 0 }, 'slow');
    
</script>
<!-- / FIM Função para subir ate o TOPO  -->
