<!-- Inline form modal -->
<div id="modal_tipo_reparo" ng-controller="ReparoNovo" class="modal fade" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cadastro Tipo de Reparo</h5>
      </div>

      <form name="modalFormulario" ng-submit="salvarModalTipo()" class="ng-pristine ng-valid" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-12">
                <label>Tipo de Reparo:</label>
                <input name="modaltipoNome" data-ng-model="modal.nome" placeholder="Digite o tipo do reparo ex: Motor" class="form-control" type="text" required>
                <div ng-messages="modalFormulario.modaltipoNome.$error">
                  <div ng-messages-include="app/views/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-link legitRipple" data-dismiss="modal">Sair</button>
          <button type="submit" class="btn btn-primary legitRipple">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /inline form modal -->