<!--start container-->
<div class="container">

	<!--chart dashboard start-->

  <form id="form-cadastro">
    <p class="caption">Cadastro Modelo Veiculo</p>

    <div class="divider"></div>
  <!--Form Advance-->
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <!--<h4 class="header2">Form Advance</h4>-->
          <div class="row">
            <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="nome" name="nome" type="text">
                    <label for="nome">Modelo do Veiculo</label>
                  </div>

                  <div class="input-field col s6">
                    <input id="cpf" name="cpf" type="text">
                    <label for="cpf">Descrição do Modelo do Veiculo</label>
                  </div>

            <div class="row">

              <div class="row">
                <div class="input-field col s11">
                  <button class="btn cyan waves-effect waves-light right" type="submit" id="enviar"name="action">Salvar
                    <i class="mdi-content-send right"></i>
                  </button>
                </div>
              </div>
            </div>
                </div>
          </form>
        </div>
      </div>
    </div>
    </div>


	<!--chart dashboard end-->

	<!-- //////////////////////////////////////////////////////////////////////////// -->


</form>
</div>
