
<!-- Content area -->
<div class="content">

	<!-- 2 columns form -->
	<form class="form-horizontal" name="formulario" ng-submit="salvar()" novalidate>
		<div ng-show="mensagem.length" class="row">
			<div class="col-md-6">
				<div class="alert alert-primary alert-bordered">
					<button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
					<span class="text-semibold">{{mensagem}}</span>
				</div>
			</div>
		</div>

		<div class="panel panel-flat">
			<div class="panel-heading">
				<h5 class="panel-title">Cadastro de Venda</h5>

			</div>
			<div class="panel-body">
				<!-- BLOCO DE SELECT -->
				<div class="row">
					<!-- SEELCET POR FORNECEDOR  -->
					<div class="col-md-6">
						<fieldset>
							<legend class="text-semibold"> </legend>
							<div class="form-group">
								<label for="selectBuscaCliente" class="col-lg-3 control-label">Cliente
									<img src="app/resources/img/asterisk-pr-icon.png" alt="obrigatório" height="10" width="10" />
								</label>
								<div class="col-lg-9">
									<div class="row">
										<div class="col-md-6">
											<div class="mb-15">
												<select ng-init="buscarCliente()" id="selectBuscaCliente" data-placeholder="Selecione o Cliente" class="select" ng-model="form2.buscaCampoCliente"
												 ng-change="adicionarCliente()" ng-options="item.pk_cliente as item.nome for item in clientesResultados">						                            
																<option value=""></option>				                               
																   
									                            </select>
											</div>
										</div>

									</div>
								</div>
							</div>
							<br/>
							
							<!-- BLOCO DE INSERT FUNCIONARIO  -->
							<div class="form-group">
								<div class="col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">
																<i class="icon-user"></i>
															</span>
										<input type="text" size="23" maxlength="23" style="text-transform:uppercase" name="nomeCliente" class="form-control" disabled="disabled"
										 ng-model="form2.nomeCliente" required>
										<input type="hidden" name="fkCliente" class="form-control" placeholder="Nome" ng-model="form2.fkCliente">
										<label ng-show="formulario.$submitted &&  formulario.nomeFornecedor.$error.required" class="validation-error-label">
																Selecionar o Cliente Obrigatorio
															</label>
									</div>
								</div>
							</div>
							<!-- / FIM BLOCO DE INSERT FUNCIONARIO  -->
						</fieldset>
					</div>
					<!-- /FIM SELECT POR FORNECEDOR  -->
					<!-- SELECT POR FUNCIONARIO  -->
					<div class="col-md-6">
						<fieldset>
							<legend class="text-semibold"> </legend>
							<div class="form-group">
								<label for="selectBuscaFuncionario" class="col-lg-3 control-label">Funcionario
									<img src="app/resources/img/asterisk-pr-icon.png" alt="obrigatório" height="10" width="10" />
								</label>
								<div class="col-lg-9">
									<div class="row">
										<div class="col-md-6">
											<div class="mb-15">
												<select ng-init="buscarFuncionario()" ng-change="adicionarFuncionario()" id="selectBuscaFuncionario" data-placeholder="Selecione o Funcionario"
												 class="select" ng-model="form2.buscaCampoFuncionario" ng-options="item.pk_funcionario as item.nomes for item in funcionariosResultados">						                            
																<option value=""></option>				                               
																   
									                            </select>
											</div>
										</div>

									</div>
								</div>
							</div>

							<br/>
						
							<!-- BLOCO DE INSERT FUNCIONARIO  -->
							<div class="form-group">
								<div class="col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">
																<i class="icon-user"></i>
															</span>
										<input type="text" name="nomeFuncionario" size="23" maxlength="23" style="text-transform:uppercase" class="form-control"
										 disabled="disabled" ng-model="form2.nome" required />
										<input type="hidden" name="fkFuncionario" class="form-control" ng-model="form2.fkFuncionario" />
										<label ng-show="formulario.$submitted &&  formulario.nomeFuncionario.$error.required" class="validation-error-label">
																Selecionar Funcionario obrigatorio
															</label>

									</div>
								</div>
							</div>
							<!-- /FIM BLOCO DE INSERT FUNCIONARIO  -->
						</fieldset>
					</div>
					<!-- /FIM SELECT POR FUNCIONARIO  -->
				</div>
				<!-- /FIM BLOCO DE SELECT -->
				<br/>
				<br/>
				

				<!-- BLOCO DE PESQUISA POR VEICULO -->
				<form name="formulario2" class="main-search">
					<div class="input-group content-group">
						<div class="has-feedback has-feedback-left">
							<input type="search" name="consulta" ng-keyup="validarInupt(consulta)" class="form-control input-xlg" ng-model="consulta"
							 placeholder="PESQUISA PELA PLACA" autofocus autocomplete="off" />
							<div class="form-control-feedback">
								<i class="icon-search4 text-muted text-size-base"></i>
							</div>
							<label ng-show="vazio" class="validation-error-label">
												Consulta nao pode ser em Branca
											</label>
						</div>
						<div class="input-group-btn">
							<button ng-click="pesquisarVeiculo()" type="button" class="btn btn-primary btn-xlg">Pesquisar Veiculo</button>
						</div>

					</div>
					<table class="table datatable-basic">
						<tr ng-repeat="veiculo in VeiculoPesquisa">
							<td>{{veiculo.pk_veiculo}}</td>
							<td>{{veiculo.nome}}</td>
							<td>{{veiculo.placa}}</td>
							<td>{{veiculo.ano}}</td>
							<td>{{veiculo.qtd}}</td>
							<td>R$ {{veiculo.valor_compra | number:2}}</td>
							<td>
								<a ng-click="adicionarVeiculoCarrinho(veiculo)">
										<i class="icon-add"></i>
									</a>
							</td>
						</tr>
					</table>
				</form>
				<!-- /FIM BLOCO DE PESQUISA POR VEICULO -->
				<br/>
				<br/>
				

				<!-- BLOCO PARA EXEBIR VEICULO NO CARRINHO  -->
				<div ng-show="painelCarrinho">
					<hr>
					<div class="bw-tabela-item">
						<div class="bw-tabela-item__coluna  bw-tabela-item__coluna--detalhes">
							<span style="text-transform:uppercase" class="bw-tabela-cerveja-nome">{{nome}}</span>
							<input class="" name="fkVeiculo" ng-model="form.fkVeiculo" type="hidden" required/>

							<span class="label  label-default">{{placa}}</span>
							<span class="bw-tabela-cerveja-origem">{{ano}}</span>
						</div>
						<div class="bw-tabela-item__coluna  bw-tabela-item__coluna--valores">
							<div class="bw-tabela-cerveja-valor-pequeno">
								<strong>	<span> Valor de custo da venda R$ {{valorFinal | number:2}}</span></strong>
								<!--<span id="v_'+count+'" name="valorUnitario" type="text" class="bw-tabela-venda-campo-valor-venda" value="valorUnitario">i.valorUnitario.toFixed(2)</span>
									<span>x</span>
									<input id="q_'+count+'" name="qtd" type="text" maxlength="3" class="bw-tabela-venda-campo-quantidade" value="1">
									-->
							</div>
							<div class="bw-tabela-cerveja-valor-grande">
								<div class="form-group"> 
									<label for="nome" class="col-lg-3 control-label">R$
									 	
									</label>
									<div class="col-lg-9">
										<input type="text" id="valorVenda" name="valorVenda" class="form-control" placeholder="VALOR DA VENDA" ng-model="form.valorCompra"
										ui-money-mask="2" autofocus required/>
										
									</div>
								</div>
							</div>
							 <label ng-show="formulario.$submitted &&  formulario.valorVenda.$error.required" class="validation-error-label">
								Valor Obrigatorio
							</label>
						</div>

					</div>
				</div>
				<!-- / FIM BLOCO PARA EXEBIR VEICULO NO CARRINHO  -->
				<label ng-show="formulario.$submitted &&  formulario.fkVeiculo.$error.required" class="validation-error-label">
								Obrigatorio selecionar um veiculo
					</label>



				<br/>
				<br/>
				
				<!-- BLOCO PARA SALVAR E VOLTAR  -->
				<div class="text-right">
					<a href="#!/compras">
                                    	<button  class="btn btn-primary"> <i class="icon-arrow-left13 position-right"></i> Voltar </button>
                                	</a>
					<button ng-disabled="botao" type="submit" class="btn btn-primary"> Vender <i class="icon-arrow-right14 position-right"></i></button>

					<div data-ng-include="'app/views/venda/modal-parcelamento.html'"></div>
				</div>
				<!--/FIM BLOCO PARA SALVAR E VOLTAR  -->
			</div>
		</div>
	</form>

	<!-- /2 columns form -->



</div>
<!-- /content area -->






<!-- Theme JS files -->
<script type="text/javascript" src="app/assets/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="app/assets/js/pages/form_layouts.js"></script>

<!-- Função para subir ate o TOPO  -->
<script>
	$('html, body').animate({ scrollTop: 0 }, 'slow');

</script>
<!-- / FIM Função para subir ate o TOPO  -->
<!-- /theme JS files -->