<div class="page-header page-header-default">
  <div class="breadcrumb-line">
  <ul class="breadcrumb">
    <li><a href="#!/"><i class="position-left"></i> </a></li>
    <li class="active"> Cadastro de veiculos</li>
  </ul>
  </div>
</div>
<!-- Categoria-->
<div class="content">
  <div class= "row">
    <div class= "col-md-6">
      <!-- Basic layout-->
        <form action="#">
          <div class="panel panel-flat">
            <div class="panel-heading">

      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-15">
            <fieldset>

              <legend class="text-semibold"><i class="icon-car position-left"></i> Categoria do Veiculo </legend>


              <div class="form-group">
                <label class="col-lg-3 control-label">Categoria:</label>
                <div class="col-lg8">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="mb-12">
                                      <select ng-model="vm.categoria" ng-options="item.pk_tipo as item.nome for item in categoriaResultados" data-placeholder="Selecione a Categoria" class="select">
                                      <option value="">Selecione a Categoria</option>

                                      </select>
                                    </div>
                    </div>
                    <button type="button" class="btn btn-info btn-float btn-rounded legitRipple" data-toggle="modal" data-target="#modal_form_categoria"> <i class="icon-plus22"></i></button></td>
                   </div>
                  <div data-ng-include="'app/views/veiculo/modal-categoria.html'"></div>
                 </div>
               </div>
             </div>
              </div>
              </div>
              </div>
            </form>

         </div>

         <!-- Modelo-->
     <div class= "col-md-6">
                	<!-- Basic layout-->
                  <form action="#">
                  <div class="panel panel-flat">
                  <div class="panel-heading">
                    </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-15">
                      <fieldset>
                        <legend class="text-semibold"><i class="icon-car position-left"></i> Modelo do Veiculo </legend>


                        <div class="form-group">
                          <label class="col-lg-3 control-label">Modelo:</label>
                          <div class="col-lg8">
                            <div class="row">
                              <div class="col-md-7">
                                <div class="mb-12">
                                                <select ng-model="vm.modelo" ng-options="item.pk_cargos as item.nome for item in cargoResultados" data-placeholder="Selecione o Modelo" class="select">
                                                <option value="">Selecione o Moelo</option>

                                                </select>
                                              </div>
                               </div>
                              <button type="button" class="btn btn-info btn-float btn-rounded legitRipple" data-toggle="modal" data-target="#modal_form_modelo"> <i class="icon-plus22"></i></button></td>
                             </div>
                            <div data-ng-include="'app/views/veiculo/modal-modelo.html'"></div>
                           </div>
                         </div>
                       </div>
                        </div>
                        </div>
                        </div>
                      </form>
                              </div>
                              <!-- Marca-->
                    <div class= "col-md-6">

                      <!-- Basic layout-->
                    <form action="#">
                    <div class="panel panel-flat">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-15">
                      <fieldset>

                    <legend class="text-semibold"><i class="icon-car position-left"></i> Marca do Veiculo </legend>

                    <div class="form-group">
                    <label class="col-lg-3 control-label">Marca:</label>
                      <div class="col-lg8">
                      <div class="row">
                      <div class="col-md-7">
                      <div class="mb-12">
                        <select ng-model="vm.categoria" ng-options="item.pk_cargos as item.nome for item in cargoResultados" data-placeholder="Selecione a Marca" class="select">
                          <option value="">Selecione a Marca</option>
                        </select>
                              </div>
                                </div>
                        <button type="button" class="btn btn-info btn-float btn-rounded legitRipple" data-toggle="modal" data-target="#modal_form_marca"> <i class="icon-plus22"></i></button></td>
                              </div>
                              <div data-ng-include="'app/views/veiculo/modal-marca.html'"></div>
                              </div>
                            </div>
                           </div>
                         </div>
                       </div>
                       </div>
                     </form>
                      </div>

                      <!-- /footer -->
</div>
</div>
<!-- /content area -->

<!-- Theme JS files -->
<script type="text/javascript" src="app/assets/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="app/assets/js/pages/form_layouts.js"></script>


<!-- /theme JS files -->
