<div class="container">

	<!--chart dashboard start-->

    <p class="caption">Cadastro de Veículos</p>

    <div class="divider"></div>
  <!--Form Advance-->
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <!--<h4 class="header2">Form Advance</h4>-->
          <div class="row">
            <form class="col s12">
                <div class="row">
                  <div class="input-field col s4">
                    <select>
                      <option value="" disabled selected>Escolha a Categoria</option>

                    </select>
                    <label>Selecione a Categoria</label>
                  </div>

                  <div class="input-field col s2">
                  <div id="modals-demo" class="section">
                    <div class="row">
                      <div class="col s12 m4 l3">

                      <div class="col s12 m8 l9">
                        <p><a class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#modal1"><i class="mdi-content-add"></i></a>
                        </p>

                        <!-- MODAL CADASTRO DA MARCA -->
                        <div id="modal1" class="modal">
                          <div class="modal-content">
                            <div class="row">
                              <div class="input-field col s6">
                                <input id="input-telefone" type="text">
                                <label for="input-telefone">Nome</label>
                              </div>
                                <div class="input-field col s6">
                                <input id="input-telefone" type="text">
                                <label for="input-telefone">Descrição</label>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Cancelar</a>
                            <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Salvar</a>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



                <div class="input-field col s4">
                  <select>
                    <option value="" disabled selected>Escolha a Marca</option>

                  </select>
                  <label>Selecione a Marca</label>
                </div>

                <div class="input-field col s2">
                <div id="modals-demo" class="section">
                  <div class="row">
                    <div class="col s12 m4 l3">

                    <div class="col s12 m8 l9">
                      <p><a class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#modal1"><i class="mdi-content-add"></i></a>
                      </p>

                      <!-- MODAL CADASTRO DA MARCA -->
                      <div id="modal1" class="modal">
                        <div class="modal-content">
                          <div class="row">
                            <div class="input-field col s6">
                              <input id="input-telefone" type="text">
                              <label for="input-telefone">Nome</label>
                            </div>
                              <div class="input-field col s6">
                              <input id="input-telefone" type="text">
                              <label for="input-telefone">Descrição</label>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Cancelar</a>
                          <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Salvar</a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

                            <div class="input-field col s4">
                              <select>
                                <option value="" disabled selected>Escolha o Ano</option>

                              </select>
                              <label>Selecione o Ano</label>
                            </div>

                            <div class="input-field col s2">
                            <div id="modals-demo" class="section">
                              <div class="row">
                                <div class="col s12 m4 l3">

                                <div class="col s12 m8 l9">
                                  <p><a class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#modal1"><i class="mdi-content-add"></i></a>
                                  </p>

                                  <!-- MODAL CADASTRO DO ANO -->
                                  <div id="modal1" class="modal">
                                    <div class="modal-content">
                                      <div class="row">
                                        <div class="input-field col s6">
                                          <input id="input-telefone" type="text">
                                          <label for="input-telefone">Nome</label>
                                        </div>
                                          <div class="input-field col s6">
                                          <input id="input-telefone" type="text">
                                          <label for="input-telefone">Descrição</label>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Cancelar</a>
                                      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Salvar</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
              <div class="input-field col s4">
                <select>
                  <option value="" disabled selected>Escolha o Modelo</option>

                </select>
                <label>Selecione o Modelo</label>
              </div>
              <div class="input-field col s2">
              <div id="modals-demo" class="section">
                <div class="row">
                  <div class="col s12 m4 l3">

                  <div class="col s12 m8 l9">
                    <p><a class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#modal1"><i class="mdi-content-add"></i></a>
                    </p>

                    <!-- MODAL CADASTRO DO MODELO -->
                    <div id="modal1" class="modal">
                      <div class="modal-content">
                        <div class="row">
                          <div class="input-field col s6">
                            <input id="input-telefone" type="text">
                            <label for="input-telefone">Nome</label>
                          </div>
                            <div class="input-field col s6">
                            <input id="input-telefone" type="text">
                            <label for="input-telefone">Descrição</label>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Cancelar</a>
                        <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Salvar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            </div>
            <div class="row">
              <div class="input-field col s4">
                <input id="input-telefone" type="text">
                <label for="input-telefone">Valor de Compra</label>
              </div>

            </div>



            <div class="row">

              <div class="row">
                <div class="input-field col s11">
                  <button class="btn cyan waves-effect waves-light right" type="submit" id="enviar"name="action">Salvar
                    <i class="mdi-content-send right"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>


	<!--chart dashboard end-->

	<!-- //////////////////////////////////////////////////////////////////////////// -->

</div>

