<!-- Inline form modal -->
<div id="modal_form_placa" class="modal fade" data-backdrop="static">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
                    <button type="button" class="close" id="testeFechar" data-dismiss="modal">×</button>
  <h5 class="modal-title">Cadastrado de Placa</h5>
</div>

<form action="" class="form-inline">
  <div class="modal-body">
    <div class="form-group has-feedback">
      <label>Placa: </label>
      <input type="text" placeholder="Placa" class="form-control" ng-model="vm.nome" >
      <label ng-show="formulario.$submitted &&  formulario.nome.$error.required" class="validation-error-label" required/>
        Placa obrigatorio
      </label>
      <div class="form-control-feedback">
        <i class="icon-car text-muted"></i>
      </div>
    </div>
  </div>

  <div class="modal-footer text-center">
    <button ng-click="salvarVeiculo()" data-dismiss="modal" type="submit" class="btn btn-primary">Salvar <i class="icon-plus22"></i></button>
  </div>
</form>
</div>
</div>
</div>
<!-- /inline form modal -->
