<p class="validation-error-label" ng-message="required">Este campo e obrigatorio</p>
<p class="validation-error-label" ng-message="minlength">This field is too short</p>
<p class="validation-error-label" ng-message="maxlength">This field is too long</p>
<p class="validation-error-label" ng-message="required">This field is required</p>
<p class="validation-error-label" ng-message="validationError">Digite a mesma senha</p>
<p class="validation-error-label" ng-message="email">This needs to be a valid email</p>
<p class="validation-error-label" ng-message="number">This needs to be a valid number</p>
