
						
  			<!-- Content area -->
				<div class="content">
					
					<!-- 2 columns form -->
					<form class="form-horizontal" name="formulario" ng-submit="salvar()" novalidate ng-controller="FornecedorSalvar">
						<div ng-show="mensagem.length" class="row">
							<div class="col-md-6">							
									<div class="alert alert-primary alert-bordered">
										<button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
										<span class="text-semibold">{{mensagem}}</span> 
								    </div>
							</div>
						</div>
						<div class="panel panel-flat">						
							<div class="panel-heading">
								<h5 class="panel-title">Cadastro de Fornecedor</h5>
								
							</div>

							<div class="panel-body">
								<div class="row">
									<div class="col-md-6">
										<fieldset>
											<legend class="text-semibold"><i class="icon-reading position-left"></i> Dados Pessoais </legend>

											
										</fieldset>
									</div>

									<div class="col-md-6">
										<fieldset>
						                	<legend class="text-semibold"><i class=" position-left"></i> </legend>									

																	
										</fieldset>
									</div>
								</div>

								<div class="text-right">
									<a href="#!/fornecedores">
                                    	<button  class="btn btn-primary"> <i class="icon-arrow-left13 position-right"></i> Voltar </button>
                                	</a>
									<button ng-disabled="botao" class="btn btn-primary"> Salvar <i class="icon-arrow-right14 position-right"></i></button>
								</div>
							</div>
						</div>
					</form>
					<!-- /2 columns form -->


					<!-- Footer -->
					<div class="footer text-muted">
						&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

				<div data-ng-include="'app/views/funcionario/modal-funcionario.html'"></div>

	

	

	<!-- Theme JS files -->
	<script type="text/javascript" src="app/assets/js/plugins/forms/selects/select2.min.js"></script> 
	<script type="text/javascript" src="app/assets/js/pages/form_layouts.js"></script>
	
	<!-- /theme JS files -->

    