<link href="app/assets/css/extras/animate.min.css" rel="stylesheet" type="text/css">
<script src="app/resources/js/jquery.mobile.custom.min.js"></script>
<script>
    $(function () {
        $(".tab-content").on('swiperight', function () {
            var $tab = $('#tablist .active').prev();
            if ($tab.length > 0)
                $tab.find('a').tab('show');
        });
        $(".tab-content").on('swipeleft', function () {
            var $tab = $('#tablist .active').next();
            if ($tab.length > 0)
                $tab.find('a').tab('show');
        });
    });

</script>


<!-- Content area -->
<div class="content">


    <!-- Basic datatable -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">LISTA DE COMPRAS</h5>

        </div>

        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                <label>
                    <span>Pesquisa: </span>
                    <input type="search" ng-model="filtros" placeholder="Pesquisa... "
                           aria-controls="DataTables_Table_0">
                </label>
            </div>
            <div class="dataTables_length" id="DataTables_Table_0_length">
                <label>
						<span>
							<a href="#!/compras/novo" class="btn btn-primary"> Nova Compra <i
                                    class="icon-arrow-right14 position-right"></i></a>
						</span>
                </label>

            </div>

        </div>
        <br/>

        <div>
            <div role="tabpanel" class="tabbable">
                <ul role="tablist" id="tablist" class="nav nav-tabs nav-tabs-bottom bottom-divided nav-justified">
                    <li role="presentation" class="active"><a id="pendente" href="#tab1" target="_self" data-toggle="tab" class="legitRipple">EFETUADA</a></li>
                    <li role="presentation"><a ng-href="#tab2" id="pago" target="_self" data-toggle="tab" class="legitRipple">CANCELADA</a></li>
                   
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane animated flipInX active" id="tab1">
                        <table ng-init="pendente()" class="table datatable-basic">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="text-center">FORNECEDOR</th>
                                    <th class="text-center">FUNCIONARIO</th>
                                    <th class="text-center">DATA</th>
                                    <th class="text-center">VALOR DA COMPRA</th>
                                    <th class="text-center">STATUS COMPRA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="compras in pendenteResultados | filter:filtros">
                                    <td>{{compras.pk_compra}}</td>
                                    <td class="text-center">{{compras.nomeFornecedor | uppercase}}</td>
                                    <td class="text-center">{{compras.nomeFuncionario | uppercase}}</td>
                                    <td class="text-center">{{compras.datas | date:'dd/MM/yyyy hh:mm'}}</td>
                                    <td class="text-center">$ {{compras.valor_compra | number:2}}</td>
                                    <td class="text-center"> <span class="label label-info" >{{compras.statusCompra}}</span>
                                    </td>
                                    <td ng-show="permicaoJSON.compra">
                                        <a ng-show="permicaoJSON.compraEditar" ng-click="cancelamento(compras.pk_compra,$index)" style="color: black">
                                            <i class="icon-pencil7"></i>
                                        </a>
                                        <!--mostra o icone de excluir e chama o modal -->
                                        <a ng-show="permicaoJSON.compraDeletar" style="color: #F00" ng-click="abrirModalExclusao(compras.pk_compra,$index, compras.valor_compra)">
                                            <!--<input id="id" type="hidden" value="{{lembrete.pk_funcionario}}">-->
                                            <i class="icon-trash"></i>
                                        </a>
                                        <!--FIM -->
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane animated flipInX" id="tab2">
                        <table ng-init="canceladas()" role="tabpanel" class="table datatable-basic">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="text-center">FORNECEDOR</th>
                                    <th class="text-center">FUNCIONARIO</th>
                                    <th class="text-center">DATA</th>
                                    <th class="text-center">VALOR DA COMPRA</th>
                                    <th class="text-center">STATUS COMPRA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="compras in canceladosResultados | filter:filtros">
                                    <td>{{compras.pk_compra}}</td>
                                    <td class="text-center">{{compras.nomeFornecedor | uppercase}}</td>
                                    <td class="text-center">{{compras.nomeFuncionario | uppercase}}</td>
                                    <td class="text-center">{{compras.datas | date:'dd/MM/yyyy hh:mm'}}</td>
                                    <td class="text-center">$ {{compras.valor_compra | number:2}}</td>
                                    <td class="text-center"><span class="label label-danger">{{compras.statusCompra}}</span></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <!-- /scrollable datatable -->
    <div data-ng-include="'app/views/modal/modal-excluir.html'"></div>
    <div data-ng-include="'app/views/modal/modal.html'"></div>

    <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
    </div>
    <!-- /footer -->

</div>
<!-- /content area -->

<!-- Função para subir ate o TOPO  -->
<script>
    $('html, body').animate({ scrollTop: 0 }, 'slow');

</script>
<!-- / FIM Função para subir ate o TOPO  -->