<!-- Inline form modal -->
<div id="modal_form_categoria" ng-controller="CompraNovo" class="modal fade" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cadastro de Categoria</h5>
      </div>

      <form name="modalCategoriaFormulario" ng-submit="salvarModal()" class="ng-pristine ng-valid" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-12">
                <label>Categoria:</label>
                <input name="modalCategoria" data-ng-model="modal.nome" placeholder="Digite o nome" class="form-control" type="text" required>
                <div ng-messages="modalCategoriaFormulario.modalCategoria.$error">
                  <div ng-messages-include="app/views/messages.html"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-link legitRipple" data-dismiss="modal">Sair</button>
          <button type="submit" class="btn btn-primary legitRipple">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /inline form modal -->