<!-- Content area -->
				<div class="content">

					<!-- Basic datatable -->
					<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">Lista de Usuarios</h5>
							
						</div>

						
                        <p ng-show="mensagem">{{mensagem}}</p>
                         <div ng-show="lembretes.length">   
						<table class="table datatable-basic">
							<thead>
								<tr>
									<th>ID</th>
									<th>Login</th>
									<th>Nome</th>
									<th>Grupo</th>
									<th class="text-center"></th>
								</tr>
							</thead>
							<tbody>
                                <tr ng-repeat="lembrete in lembretes">
                                        <td>{{lembrete.usuario_id}}</td>
                                        <td>{{lembrete.login}}</td>
                                        <td>{{lembrete.f_nome}}</td>
                                        <td>{{lembrete.g_nome}}</td>

                                        <td>
                                            <a href="#!/usuarios/{{lembrete.usuario_id}}">
                                                <i class="icon-pencil7"></i>
                                            </a>
										<!--mostra o icone de excluir e chama o modal -->
                                            <a href="" ng-click="exibirModal(lembrete,$index)" >
                                               <i class="icon-trash"></i>
                                            </a>
									  <!--FIM -->
                                        </td>
   
                                </tr>   
								
							</tbody>
						</table>
                         </div>
					</div>
					<!-- /scrollable datatable -->
<div data-ng-include="'app/usuario/modal-excluir.html'"></div>

					<!-- Footer -->
					<div class="footer text-muted">
						&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->
